#main {
    width: 100%;
    height: 100%;
}
#right-section {
    width: 35%;
    float: right;
    border:1px solid #c3c3c3;
}
#status-content {
    margin: 15dp;
    border:1px solid #c3c3c3;
}
#chat-content {
    height: 350px;
    margin: 15dp;
    border:1px solid #c3c3c3;
}
#game-content {
    float: left;
    width: 60%;
    margin: 15dp;
}
#gameArea {
    border:1px solid #c3c3c3;
}
#chat-msg-section {
    width: 100%;
    height: 90%;
    border:1px solid #c3c3c3;
}

#chat-input-section {
    width: 100%;
    height: 10%;
    border:1px solid #c3c3c3;
}
#user-msg-input {
    width: 85%;
    float: left;
}
#msg-input {
    width: 100%;
}
#send-button {
    width: 15%;
    float: right;
}
/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}