@(webSocketUrl: String)(implicit request: RequestHeader)

@main("Welcome to Play")(webSocketUrl) {
  <h1>Welcome to Play!</h1>
  <!-- Modal content -->
  <div id="modal-start" class="modal" >
    <div class="modal-content">
      <form id="start-form">
        <div class="form-raw">
          <label for="nameInput">Enter your name</label>
          <input id="nameInput" type="text" required>
        </div>
        <div class="form-raw">
          <input id="start-button" class="btn" type="submit" value="Start!">
        </div>
      </form>
    </div>
  </div>

  <div id="modal-game-choice" class="hidden-modal">
    <div class="modal-content">
      <form id="game-choice-form">
        <div class="form-row">
          <div class="w-50 p-1">
              <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                <option value="1">Item 1</option>
                <option value="2">Item 2</option>
                <option value="3">Item 3</option>
                <option value="4">Item 4</option>
                <option value="5">Item 5</option>
                <option value="1">Item 6</option>
                <option value="2">Item 7</option>
                <option value="3">Item 8</option>
                <option value="4">Item 9</option>
                <option value="5">Item 10</option>
              </select>
            </div>
        </div>

        <div class="form-row">
          <div class="w-50 p-1">
            <!-- DO NOT CHANGE THE ID ATTRIBUTE => multiselect.js is based internally with this id value -->
            <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-up"></i></button>
          </div>
          <div class="w-50 p-1">
            <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-down"></i></button>
          </div>
        </div>

        <div class="form-row">
          <div class="w-50 p-1">
            <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
          </div>
        </div>



        <div class="form-row">
          <div class="w-50 p-1">
            <button id="start-game-button" class="btn btn-block" type="submit">Start Playing</button>
          </div>
          <div class="w-50 p-1">
            <button id="close-game-choice-button" class="btn btn-block" type="submit">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="modal-game" class="hidden-modal">
    <div class="modal-content">
      <canvas id="gameArea" width="350" height="350">
        Your browser does not support the canvas element.
      </canvas>
    </div>
  </div>

  <div id="main">
    <!-- page start-->
    <div class="chat-room mt">
      <aside class="mid-side">
        <div class="chat-room-head">
          <h3 id="chatroomTitle">Chat Room</h3>
          <div id="status" class="float-right">Connecting...</div>
        </div>

        <!-- CHAT OUTPUT -->
        <div id="message-list">

        </div>
        <!-- CHAT OUTPUT -->

        <div class="input-bar">
          <div class="input-bar-item">
            <form>
              <div class="input-group">
                <input id="msg-input" class="form-control input-lg" placeholder="Type here"
                       type="text" autocomplete="off" spellcheck="false" autocorrect="off">
                <span class="input-group-btn">
                  <input id="send-msg-button" class="btn btn-primary btn-theme" type="submit" value="Send">
                </span>
              </div>
            </form>
          </div>
        </div>
      </aside>

      <aside class="right-side">
        <div class="user-head align-middle">
          <button id="show-game-choice-button" class="btn btn-theme03">Play</button>
        </div>
        <div class="invite-row">
          <h4 class="pull-left">Team Members</h4>
          <!-- <a href="#" class="btn btn-theme04 pull-right">+ Invite</a> -->
        </div>
        <ul id="people-list" class="chat-available-user">

        </ul>
      </aside>

    </div>

  </div>
}
